<h1>Links</h1>
<p>
  This website is based on the sample application in
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
  I am adding new features, fixing bugs, and have plans to redesign the site.
</p>
<p>
  My 
  <a href="http://gabriel.heroku.com/">blog</a>
  contains articles about my progression in learning Ruby on Rails.
</p>
<p>
  My 
  <a href="https://github.com/gabriel94109/sample_app">code</a>
  is hosted on github.
</p>

