<% 
  # called by User#show
  # refactor ? with shared/feed_item
-%>
<tr>
  <td class='micropost'>
    <span class='content'><%= wrap(micropost.content) %></span>
    <span class='timestamp'>
      <% taiw = time_ago_in_words(micropost.created_at) -%>
      <%= link_to "Posted #{taiw} ago", micropost %>
    </span>
  </td>
  <% if current_user?(micropost.user) %>
    <td>
      <%= link_to 'delete', micropost, :method => :delete %>
    </td>
  <% end %>
</tr>
