<footer>
<nav class='round'>
<ul>
  <li><%= link_to 'Contact', contact_path %></li>
  <%
    # you need to have already added a user called "news" 
  %>
  <li><%= link_to 'News', "/news" %></li>
  <li><%= link_to 'Links', links_path %></li>
  <li><a href='http://gabriel.heroku.com/'>Blog</a></li>
</ul>
</nav>
</footer>
