<footer>
<nav class='round'>
<ul>
  <li><%= link_to 'Contact', contact_path %></li>
  <%
    #hardcoded until, i have way to get a user by name
  %>
  <li><%= link_to 'News', '/users/13' %></li>
  <li><%= link_to 'Links', links_path %></li>
  <li><a href='http://gabriel.heroku.com/'>Blog</a></li>
</ul>
</nav>
</footer>
